QPushButton#btn_library
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/library.svg);
}
QPushButton#btn_main
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/main.svg);
}
QPushButton#btn_shikimori, #shikimori_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/shikimori.svg);
}
QPushButton#btn_history
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/history.svg);
}


QPushButton#search_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/search.svg);
}
QPushButton#prev_btn, #prev_page_btn
{
    qproperty-icon: url(:/arrows_black/data/icons/buttons/svg_24dp_black/arrows/arrow_back_ios.svg);
}
QPushButton#next_btn, #next_page_btn
{
    qproperty-icon: url(:/arrows_black/data/icons/buttons/svg_24dp_black/arrows/arrow_forward_ios.svg);
}


QPushButton#filter_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/filter.svg);
}
QPushButton#delete_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/delete.svg);
}


QPushButton#back_btn
{
    qproperty-icon: url(:/arrows_black/data/icons/buttons/svg_24dp_black/arrows/arrow_back.svg);
}
QPushButton#add_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/star.svg);
}

QPushButton#fullscreen_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/fullscreen.svg);
}
QPushButton#ch_list_btn
{
    qproperty-icon: url(:/actions_black/data/icons/buttons/svg_24dp_black/actions/list.svg);
}


QPushButton#prev_chapter_btn
{
    qproperty-icon: url(:/arrows_black/data/icons/buttons/svg_24dp_black/arrows/double_arrow_left.svg);
}
QPushButton#next_chapter_btn
{
    qproperty-icon: url(:/arrows_black/data/icons/buttons/svg_24dp_black/arrows/double_arrow_right.svg);
}