[flake8]
inline-quotes=double
import-order-style=google
max-line-length = 120
extend-ignore = I202,I101,R503,R502
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    venv,
    venv-fluent,
    data,
    __init__.py,
    nlight_res_rc.py