QWidget#side_menu_widget QPushButton
{
    background: transparent;
}
QWidget#side_menu_widget QPushButton:hover:!pressed
{
    border: 0px;
    border-left: 2px solid @accent_color;
    background-color: gray;
}
QWidget#side_menu_widget QPushButton:checked
{
    border: 0px;
    border-left: 2px solid @accent_color;
}