[Desktop Entry]
Type=Application
Name=Nlight
Comment=Open source manga and ranobe reading application.
Path=/opt/Nlight
Exec=/opt/Nlight/Nlight
Icon=Nlight